/build/
/build-*/
/cmake-build-*/
/out/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/Makefile
/CMakeUserPresets.json

/.vs/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.asi
*.user
*.suo

NovaFix.ini
*.log
NovaFixCrashDumps/
*.dmp

*.idb
*.i64
*.id[0-3]
*.nam
*.til

/.vscode/
/.idea/
Thumbs.db
Desktop.ini
